/*! Social Vault | MIT License | github.com/svlt */
html, body {
	height: 100%;
}
body {
	padding-top: 5em;
	font-size: 14px;
}

// Align icons in buttons
.btn .icon {
	vertical-align: middle;
}

// Card overrides
.card {
	background-color: #fff;
}
.card-title {
	font-size: $font-size-base;
	margin-bottom: $headings-margin-bottom;
	&:last-child {
		margin-bottom: 0;
	}
}
.card-block > *:last-child {
	margin-bottom: 0;
}

// Profile card
.card-profile-banner {
	background-color: #777;
	min-height: 9rem;
}
.card-profile .card-title {
	font-size: $font-size-lg;
}
.card-profile-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
}
.card-profile-img {
	margin-top: -$profile-img-size-card / 2;
	width: $profile-img-size-card;
	height: $profile-img-size-card;
	border: 3px solid $gray-lightest;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

// About card
.card-block .list-unstyled:last-child {
	margin-bottom: 0;
}
.list-unstyled .icon {
	margin-right: .25rem;
}

// Photos card
.photo-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -.25rem;
	margin-bottom: 1rem;
}
.photo-list-item {
	flex: auto;
	width: 120px;
	margin: 0 .25rem .25rem 0;
}
.photo-list-item img {
	width: 100%;
	height: auto;
}
.card-photos .photo-list-item {
	width: 90px;
}
.card-block .photo-list:last-child {
	margin-bottom: 0;
}

// Stream card
.media-post {
	margin-bottom: 0;
}
.media-post > .media-left .media-object {
	width: $profile-img-size-post;
	height: $profile-img-size-post;
}
.media-comment > .media-left .media-object {
	width: $profile-img-size-comment;
	height: $profile-img-size-comment;
}
.card-stream > .card-block:first-child .form-group {
	margin-bottom: 0;
}
.card-stream > .card-block:not(:last-child) {
	border-bottom: $card-border-width solid $card-border-color;
}

// Copyright card
.card-copyright .nav-link:not(:first-child) {
	padding-left: .75rem;
}
