html {
	// font-size: 14px;
}
body {
	padding-top: 5em;
	font-size: 14px;
}

.btn .icon {
	vertical-align: middle;
}

.navbar-brand {
	padding-top: .15rem;
}
.navbar-fixed-top {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.navbar-form .form-control-sm {
	margin-top: .1rem;
}

// Card title override
.card-title {
	font-size: 1rem;
	margin-bottom: .5rem;
	&:last-child {
		margin-bottom: 0;
	}
}

// Profile card
.card-profile-banner {
	background-color: #777;
	min-height: 9rem;
}
.card-profile .card-title {
	font-size: 1.25rem;
}
.card-profile-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
}
.card-profile-img {
	margin-top: -50px;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

// About card
.card-block .list-unstyled:last-child {
	margin-bottom: 0;
}
.list-unstyled .icon {
	margin-right: .25rem;
}

// Photos card
.photo-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -.25rem;
	margin-bottom: 1rem;
}
.photo-list-item {
	flex: auto;
	width: 120px;
	margin: 0 .25rem .25rem 0;
}
.photo-list-item img {
	width: 100%;
	height: auto;
}
.card-photos .photo-list-item {
	width: 90px;
}
.card-block .photo-list:last-child {
	margin-bottom: 0;
}

// Stream card
.media-post {
	margin-bottom: 0;
}
.card-stream > .card-block:first-child .form-group {
	margin-bottom: 0;
}
.card-stream > .card-block:not(:last-child) {
	border-bottom: .0625rem solid #e5e5e5;
}

// Recommended buddies card
.card-block .media-list:last-child {
	margin-bottom: 0;
}

// Copyright card
.card-copyright .nav-link:not(:first-child) {
	padding-left: .75rem;
}
