.login-form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -5em;
	height: 100%;
}
.login-form {
	width: 18rem;
	text-align: center;
	flex: none;
	h1 {
		margin-bottom: 2.5rem;
		.icon-svlt {
			font-size: 96px;
		}
	}
}
