// Fixed navbar offset
body {
	padding-top: $navbar-height + $grid-gutter-width;
}

// Navbar brand
.navbar-brand {
	padding-top: .15rem;
	.icon-svlt {
		float: left;
		font-size: 32px;
		margin-top: -1px;
		margin-bottom: -2px;
		margin-right: .5rem;
	}
}

// Navbar shadow
.navbar-fixed-top {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

// Navbar icons
.navbar .nav-link {
	padding-bottom: 0;
}
.navbar .nav-link .icon {
	font-size: 22px;
	line-height: 1;
}


// Search position adjustment
.navbar-form {
	margin-right: 1em;
	.form-control-sm {
		margin-top: .1rem;
	}
}

// User dropdown
.navbar .profile-pic {
	width: $profile-img-size-nav;
	height: $profile-img-size-nav;
    box-shadow: 0 0 0 ($border-width * 2);
}
.dropdown-nav-user {
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
	}
}

// Mobile Navbar
@include media-breakpoint-down(sm) {
	.navbar-form {
		display: none;
	}
}
@include media-breakpoint-down(xs) {
	.navbar-brand span {
		display: none;
	}
	.nav-link-home,
	.nav-link-user,
	.nav-link-mail {
		@include icon;
		font-size: 0;
		&:before {
			font-size: 22px;
		}
	}
	.nav-link-home:before {content: "\e6b8";}
	.nav-link-user:before {content: "\e736";}
	.nav-link-mail:before {content: "\e6da";}
}
