.photo-list {
	display: flex;
	flex-wrap: wrap;
	margin: -$thumbnail-padding;
	margin-bottom: $spacer - $thumbnail-padding;
}

.photo-list-item {
	width: (100% / 3);
	border: $thumbnail-padding solid transparent;
	background-clip: padding-box;
	img {
		width: 100%;
		height: auto;
	}
}
@include media-breakpoint-down(sm) {
	.photo-list-item {
		width: 50%;
	}
}

.photo-list-sm .photo-list-item {
	width: 25%;
}
@include media-breakpoint-down(lg) {
	.photo-list-sm .photo-list-item {
		width: (100% / 3);
	}
}
