// Bootstrap variable overrides
$brand-primary:             #0087cb;
$body-bg:                   #f5f8fa;

$font-family-sans-serif:    'Lato', Helvetica, Arial, sans-serif;

$input-border-focus:        lighten($brand-primary, 10%);
$input-box-shadow-focus:    rgba($brand-primary, .5);

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        false;
$enable-hover-media-query:  false;

// App variables
$font-size-body:            14px;
$navbar-height:             3rem;

$profile-img-size-nav:      35px;
$profile-img-size-card:     100px;
$profile-img-size-post:     60px;
$profile-img-size-comment:  40px;
$profile-img-size-notif:    32px;

$profile-card-cover-size:   9rem;

$photo-list-spacing:        .25rem;
$photo-list-img-size:       8rem;
$photo-list-img-size-md:    7rem;
$photo-list-img-size-sm:    6.5rem;
$photo-list-img-size-xs:    5rem;

// Bootstrap
@import "../bower_components/bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

// Fonts
@import "font-icomoon";
// @import "font-lato";

// Site styles
@import "global";
@import "navbar";
@import "photo-list";
@import "profile";
@import "login";
@import "mobile-toggles";
